<div class="container">
    <div class="section1">
        <div class="wrapper">
            <h1 class="logo"><a href="#"></a></h1>
            <div id="front_text">
                <h3><img src="assets/img/nodegirls.png" /></h3>
                <h2>NODE.JS WORKSHOPS</h2>
                <hr/>
                <h4>Lorem Ipsum has been the industry's standard <br>dummy text ever since the 1500s, when an unknown printer<br/> took a galley of type and scrambled it to make a type specimen book.<br/> It has survived not only five centuries</h4>
            </div>
            <div class="bottom_text">
                <h5><a href="" >JOIN OUR WORKSHOPS</a></h5>
            </div>
        </div>
    </div>
</div>